body{
    background-image: url(https://i.pinimg.com/564x/f5/be/dd/f5bedd0340a56a8c78a6c1e0b4a0aec2.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
h1{
    font-family: 'Roboto', cursive;
    color: white;
}
h2{
    font-family: 'Bold', cursive;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-align: center;
    border: 2px solid #733C3C;
    background: #E4AEC5;
    color: #361500;
    box-shadow: 1px 1px 2px #C69B7B;
    border-radius: 10px;
    padding: 3px 10px;
    cursor: pointer;
}